body {
    background-color:#0d1b2a;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.header {
    background-color: #1b263b;
    padding: 1em;
    border: 2px solid;
    margin: 1em; 

}
.content {
   display: flex ;
}

.medium {
    background-color:#415a77 ;
    flex:50;
}
.Large {
    background-color:#315659;
    flex: 50;
    
}
.small_pizza {
    background-color:#778da9 ;
    flex: 50;
    
}
.footer {
    background-color: #1b263b;
    border: 2px solid;
    padding: 1em;
    margin: 1em; 
    overflow: auto;
    zoom: 1;
    
}
.pizza{
    border: 2px solid;
    padding: 1em;
    margin: 1em; 
    border-radius: 3em;
    width: 10em;
    display: inline block;
}
@media(min-width:960px) {
    body {
        background-color: #e0e1dd;

    }

}
@media(min-width:760px) {
    body {
        background-color: #e0e1dd;

    }
    .content {
        display: flex ;
     }

}